body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-image:url(https://static.vecteezy.com/system/resources/thumbnails/021/698/878/small/cute-summer-banner-with-sun-paper-clouds-and-earth-planet-on-blue-sky-background-free-vector.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: large;
    
}

.container{
    width: 400px;
    margin: 100px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
}

input{
    width: 80%;
    padding: 10px;
    margin: 10px;
}

button{
    padding: 10px 20px;
    cursor: pointer;
}

h2{
    margin-top: 20px;
}